[tool.black]
extend-exclude = "(examples|.venv)"
force-exclude = "examples"
line-length = 80

[tool.flake8]
python = ".venv/bin/python"
max-line-length = 80
exclude = [
    ".git",
    "__pycache__",
    ".venv"
]
extend-ignore = [
    "E203",
    "B020"
]

[tool.mypy]
exclude = "examples"
disallow_untyped_defs = true
ignore_missing_imports = true

[tool.isort]
profile = "black"
virtual_env = ".venv"
skip = ".venv,examples"

[tool.pytest.ini_options]
pythonpath = ["."]
log_cli = false
log_cli_level = "INFO"
log_file = "tests/latest-test.log"
log_file_level = "INFO"
