[tool.black]
extend-exclude = "(examples|.venv)"
force-exclude = "examples"
line-length = 79

[tool.vulture]
exclude = ["*/.venv/*.py","*file*.py", "dir/"]
ignore_decorators = ["@app.route", "@require_*"]
ignore_names = ["visit_*", "do_*"]
make_whitelist = true
min_confidence = 80
paths = ["myscript.py", "mydir", "whitelist.py"]
sort_by_size = true

[tool.flake8]
python = ".venv/bin/python"
max-line-length = 79
exclude = [
    ".git",
    "__pycache__",
    ".venv"
]
extend-ignore = [
]

[tool.mypy]
exclude = "examples"
disallow_untyped_defs = true
ignore_missing_imports = true

[tool.isort]
profile = "black"
virtual_env = ".venv"
skip = ".venv,examples"

[tool.pytest.ini_options]
pythonpath = ["."]
log_cli = false
log_cli_level = "INFO"
log_file = "tests/latest-test.log"
log_file_level = "INFO"
