[tool.black]
extend-exclude = "(examples|.venv)"
force-exclude = "examples"

[tool.mypy]
python = .venv/bin/python
exclude = "examples"
disallow_untyped_defs = true

[tool.isort]
profile = "black"
virtual_env = ".venv"
skip = ".venv,examples"

[tool.pytest.ini_options]
pythonpath = ["."]
log_cli = false
log_cli_level = "INFO"
log_file = "tests/latest-test.log"
log_file_level = "INFO"
